{% extends "model-page.html" %}

{% block content %}

<div class="col-12">
<form class="form-horizontal" action="submit" method="POST">{% csrf_token %}
<fieldset>

<!-- Form Name -->
<legend><h2>Evento</h2></legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Título</label>
  <div class="col-md-4">
  <input type="text" name="titulo" size="23" value="{{ evento.titulo }}" class="form-control input-md">
  <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Data do Evento:</label>  
  <div class="col-md-4">
  <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}" class="form-control input-md">
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
    <label class="col-md-4 control-label" for="textarea">Descrição</label>
    <div class="col-md-4">                     
    <textarea name="descricao" rows="5" cols="24" class="form-control input-md">{{ evento.descricao }}</textarea>
    </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
    <div class="col-md-8">
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="/">
            <button type="button" class="btn btn-danger">Cancelar</button>
        </a>
  </div>
</div>

</fieldset>
</form>













{% endblock %}